.aboutWrapper {
    padding-top: 10rem;
}

div.container.py-5 {
    background-color: white;
}

div.wrapper {
    padding-bottom: 2rem;
}

img {
    border-radius: 18px;
}

h4 {
    margin-bottom: 3rem;
}

body {
    padding-bottom: 5rem;
}

@keyframes slideOnTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.top-image {
    animation: slideOnTop 1.2s ease-in-out forwards;
}

@media (max-width: 1200px) {
    .top-image {
        animation: none;
    }
}
