<div class="wrapper">
    <div class="container py-5" style="background-color: rgb(248, 247, 247); border-radius: 17px; padding-bottom: 5rem; margin-bottom: 2em;">
        <h1 style="text-align: center;">Get to Know ZeeBee Web Designs</h1>
    </div>

    
    <div class="container py-5" style="background-color: rgb(248, 247, 247); border-radius: 17px;">
        <div class="row">
          <div class="col-md-6">
    <div class="container-fluid">
        <p>Welcome to ZeeBee Web Designs. I'm thrilled to have you here. My name is Zack Boutchyard, 
            the sole owner and operator here. 
         I am a passionate software engineer with a strong background in web development. 
         I hold a bachelor's degree in Software Engineering from ECPI University, 
         where I honed my skills and gained a solid foundation in the field. Over the years, 
         I have had the privilege of working on extensive corporate projects for a renowned financial company, 
         contributing to their success through my expertise in web design. With a career spanning over five years, 
         I bring a wealth of programming experience to every project I undertake. My commitment to continuous learning 
         and staying abreast of the latest industry trends enables me to provide cutting-edge solutions that go beyond 
         expectations. I am dedicated to creating visually stunning, user-friendly websites that not only meet your 
         needs but also exceed them. Let's embark on this web design journey together and craft an exceptional 
         online presence for your business.</p>
       </div>
          </div>
       <div class="col-md-6">
        <div class="d-flex justify-content-center align-items-center">
       <div class="container-fluid">
        <img src="../../../assets/IMG_3095.JPG" class="img-fluid" alt="..." />
      </div>
          </div>
        </div>
          </div>
        </div>
    </div>

