.wrapper {
    text-align: justify;
    font-size: x-large;
    padding-top: 3em;
    background-image: url("../../../assets/brick-background.jpg");
    height: 100%;
}

img {
    border-radius: 18px;
}

p{
    text-align: center;
    padding-bottom: 3em;
}


