.fixed-top,
div.mask {
    background-color: #282828 !important;
    box-shadow: none;
}

@keyframes slideOnTop {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1.mb-3 {
    color: rgb(125, 122, 122);
}

header.scrolled .fixed-top {
    background-color: rgb(41, 40, 40) !important;
    animation: slideOnTop 1s normal forwards;
}

#navigation {
    height: 7rem;
}

header.scrolled .nav-link {
    color: #ffffff;
}

li {
    font-size: large;
}

@media screen and (max-width: 600px) {
    img.logo {
        margin-right: auto;
        height: 4rem;
    }

    #navigation {
        height: 5rem;
    }

    #logo {
        display: block;
    }

    div.mask {
        height: 1rem !important;
    }

    div.p-5.text-center.bg-image {
        display: none;
    }

    div.container {
        margin-top: 10rem;
    }
}
