<div class="headingWrapper">
    <a mdbRipple href="#!">
        <img
            alt="example"
            class="img-fluid rounded"
            src="../../../assets/jackson-sophat-_t-l5FFH8VA-unsplash.jpg"
        />
    </a>
    <div class="middle-text">You think it, We make it.</div>
</div>
<div class="col-md-6" style="padding-top: 5em; margin: auto; width: 85%">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">
                Welcome to ZeeBee WebDesigns
            </h4>
            <p class="card-text" style="font-size: large; padding-top: 1.5rem">
                With over five years of dedicated experience in the field of web
                development, we pride ourselves on delivering top-notch designs
                that transform your online presence. At ZeeBee WebDesigns, we
                understand the importance of a captivating and user-friendly
                website in today's digital landscape.
            </p>
        </div>
    </div>
</div>
<div class="col-md-6" style="padding-top: 1em; margin: auto; width: 85%">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">Our Mission</h4>
            <p class="card-text" style="font-size: large; padding-top: 1.5rem">
                Our mission is to craft visually stunning websites that not only
                engage your audience but also drive tangible results for your
                business. Whether you're a startup, small business, or
                established enterprise, we have the expertise to meet your
                unique needs and elevate your online brand. <br />
                As the sole proprietor of ZeeBee WebDesigns, I bring a wealth of
                knowledge and expertise to every project. I have honed my skills
                over the years, working with a diverse range of clients and
                industries. This experience has equipped me with a deep
                understanding of the latest design trends, cutting-edge
                technologies, and industry best practices.
                <br />
            </p>
            <div class="text-center">
                <a href="/about" class="btn btn-primary">About Us</a>
            </div>
        </div>
    </div>
</div>

<div
    class="col-md-10"
    style="margin: auto; padding-top: 4rem; padding-bottom: 2rem"
>
    <div *ngIf="reviews" class="card">
        <div class="card-body" style="padding: 3rem">
            <h4 class="card-title" *ngIf="reviews" style="text-align: center">
                See what our customers say about us
            </h4>
            <div
                class="card text-center"
                *ngFor="let review of reviews"
                style="margin-bottom: 1em"
            >
                <div class="card-header">{{ review.rating }} stars</div>
                <div class="card-body">
                    <img src="{{ review.profile_photo_url }}" alt="" />
                    <h5 class="card-title">{{ review.author_name }}</h5>
                    <p class="card-text">{{ review.text }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ review.relative_time_description }}
                </div>
            </div>
        </div>
    </div>
</div>
