.col-md-6 {
    padding-top: 3em;
}

.headingWrapper {
    position: relative;
    text-align: center;
}

.headingWrapper img {
    width: 100%;
    height: auto;
}

div .card {
    background-color: rgb(167, 181, 185);
}

.middle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

mdb-carousel-item {
    height: 30rem;
}

.carousel-caption {
    color: black;
}

a {
    margin-top: 0.5rem;
    margin-left: auto;
}

@keyframes slideOnTop {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animation for the right image */
@keyframes slideInRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.left-image {
    animation: slideInLeft 1s ease-in-out forwards;
    padding-left: 3rem;
}

.right-image {
    animation: slideInRight 1s ease-in-out forwards;
    padding-right: 3rem;
}

.top-image {
    animation: slideOnTop 1s ease-in-out forwards;
}

@media (max-width: 767px) {
    .headingWrapper {
        padding-top: 60px; /* Adjust the padding top to match your navbar height */
    }
    .middle-text {
        font-size: 2vh;
    }
    div.p-4.text-center.bg-image {
        display: none;
    }
    div.row > div.col-md-6.order-md-1 > img {
        display: none;
    }
    .col-md-6 {
        padding-top: 3em;
        width: max-content;
    }
    .left-image,
    .right-image,
    .top-image {
        animation: none;
    }
}
