body {
    padding-top: 3em
}

.container {
    padding-top: 5em;
    text-align: center;
    padding-bottom: 5em;
}

a {
    margin-top: 1em;
}

div > div.p-5.text-center.bg-light {
    border-radius: 8px;
}