body {
    padding-top: 3em;
}

.container {
    padding-top: 5em;
    text-align: center;
    padding-bottom: 5em;
}

a {
    margin-top: 1em;
}

div > div.p-5.text-center.bg-light {
    border-radius: 8px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animation for the right image */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.top-image {
    animation: slideInLeft 1s ease-in-out forwards;
}

.bottom-image {
    animation: slideInRight 1s ease-in-out forwards;
}

@media (max-width: 1200px) {
    .bottom-image,
    .top-image {
        animation: none;
    }
}
